body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji; }

h2 {
  margin-top: 25px;
  border-bottom: none;
  border-top: 1px solid #ccc;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 10px 0; }

pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 17px;
  line-height: 1.45;
  margin-bottom: 16px;
  margin-top: 0;
  overflow: auto;
  padding: 0 16px;
  word-break: normal;
  word-wrap: normal; }

.return-type {
  padding-right: 10px;
  font-weight: normal;
  font-size: 14px; }

.return-desc {
  margin-left: 10px;
  margin-top: 4px;
  font-size: 14px; }

.code {
  border: none;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 14px;
  color: #333; }

.content .detail :not(.right-info) {
  margin: 20px 0; }

.content .detail > div {
  margin-left: 0; }

.content .detail h4 {
  text-transform: lowercase;
  font-size: 14px; }

.content .detail h4 + :not(pre) {
  padding-left: 0;
  margin-left: 0; }

.content .detail > h3,
.content .detail > h3 .access,
.content .detail > h3 .kind,
.content .detail > h3 .code {
  border: none;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 14px;
  color: #333; }

.content .detail > h3[data-ice="anchor"] {
  margin: 0 -10px;
  padding: 6px 10px; }

.inner-link-active {
  background: #f8f4e5 !important; }

table.summary tbody td:nth-child(1) {
  text-align: right;
  white-space: nowrap;
  min-width: 64px;
  vertical-align: middle; }

table.summary td {
  border: solid 1px #ddd;
  padding: 4px 10px; }

.github-markdown img:not([src*=".svg"]) {
  -webkit-box-shadow: none;
          box-shadow: none; }

.github-markdown code {
  color: #f28732;
  font-size: 15px; }
