@mixin autofill($color: black, $background: white, $borderColor: transparent, $borderWidth: 0px, $borderRadius: 0px) {
	background: $background;
	color: $color;
	border: $borderWidth solid $borderColor;
	border-radius: $borderRadius;
	outline: none;

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		background: $background;
		color: $color;
		border: $borderWidth solid $borderColor;
		border-radius: $borderRadius;
		font-size: 20px;
		font-weight: bold;
		-webkit-text-fill-color: $color;
		-webkit-box-shadow: 0 0 0px 1000px $background inset;
		transition: background-color 5000s ease-in-out 0s;
	}
}

.group--form {
	display: flex;
	align-items: center;
	padding: 15px 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.group--form--fixed {
	position: fixed;
	justify-content: center;
	bottom: 15px;
	left: 15px;
	width: calc(100vw - 30px);
	padding: 10px 15px;
	font-size: 14px;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);

	@include media-breakpoint-down(xs) {
		display: none;
	}
}

.icon--remove {
	font-size: 10px;
	margin: 13px 10px 7px 0;
	pointer-events: none;
	opacity: 0.3;
	cursor: pointer;

	.enabled.dirty>&,
	&.active {
		pointer-events: all;
		opacity: 1;
	}
}

.icon--check {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 25px;
	min-height: 25px;
	border-radius: 15px;
	font-size: 12px;
	background: #b8e1b8;
	color: green;
	opacity: 0;
	transition: opacity ease-in-out 350ms;
}

input.valid+.icon--check {
	opacity: 1;
}

.control--text {
	@include autofill($foreground, transparent);

	width: 100%;
	margin: 0;
	padding: 0 20px 0 0;
	font-size: 23px;
	font-weight: 800;
	border: none;
	outline: none;
	border-bottom: 4px solid transparent;
	margin-top: 5px;

	&::placeholder {
		font-size: 23px;
		font-weight: 800;
		color: rgba($foreground, 0.2);
	}

	&.pristine {
		color: black;
	}

	&.dirty {
		color: plum;
	}

	&.touched {
		color: gray;
	}

	&.valid {
		border-bottom-color: green;
	}

	&.invalid:not(.pristine) {
		border-bottom-color: red;
	}

}

.group--form--select {
	position: relative;

	.icon--chevron-down {
		position: absolute;
		right: 32px;
		top: 50%;
		margin-top: -10px;
		font-size: 14px;
		color: rgba(0, 0, 0, 0.3);
		pointer-events: none;
	}
}

.control--select {
	@include autofill(white, #e0e0e0, transparent, 0px, 3px);

	width: 100%;
	margin: 0;
	padding: 7px 10px 7px 15px;
	font-size: 23px;
	font-weight: 900;
	appearance: none;

	&::placeholder {
		font-size: 23px;
		font-weight: 800;
		color: rgba($foreground, 0.2);
	}

	&.pristine {
		color: black;
	}

	&.dirty {
		color: plum;
	}

	&.touched {
		color: gray;
	}

	&.valid {
		border-color: green;
	}

	&.invalid:not(.pristine) {
		border-color: red;
	}

}

.btn--submit {
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 5px 0;
	border-radius: 5px;
	background: #4CAF50;
	color: white;
	transition: all ease-in-out 350ms;

	&:hover,
	&:active,
	&:focus {
		background: rgb(51, 142, 54);
		color: white;
	}

	.invalid &,
	.submitted & {
		background: rgb(125, 125, 125);
		color: white;
		opacity: 0.5;
	}
}

::placeholder {
	font-family: $font-primary;
}
